{%extends 'base.html'%}
{%block content%}
<div class="navbar">
    <div class="a">
    <a href="{%url 'home'%}"  >Home</a>
   </div>
</div>
<div class="content">
    <div class="form-group">
    <table >
        <tr>
            <th>Covaxin</th>
            <th>Coshield</th>
            <th>Beds Available</th>
        </tr>
        {%for i in covid%}
        <tr>
            <td>{{i.covax}}</td>
            <td>{{i.coshield}}</td>
            <td>{{i.bed}}</td>
        </tr>
        {%endfor%}
    </table>
</div>
</div>
{%endblock%}